In [102]:
import numpy as np
import pandas as pd
import random
from functools import partial
from scipy import stats
from statsmodels.distributions.empirical_distribution import ECDF

In [140]:
import distribution_modules as dm
import density_estimation_modules as dem
import classification_modules as cm
import exploration_modules as expo
import importlib

importlib.reload(dm)
importlib.reload(dem)
importlib.reload(cm)
importlib.reload(expo)

In [3]:
nr_sample_sets = 20
sample_size = 10

In [119]:
bounded_dists = dm.get_bounded_distribution()
bounded_samples_flex = dm.get_samples_flex(bounded_dists, nr_sample_sets, sample_size)

In [120]:
bounded_samples_flex.head()

                                          sample_set  len     label
0  [0.6173463115357748, 0.2033043729662213, 0.180...    3  beta_1_2
1  [0.24828980387904095, 0.6098389008200759, 0.09...    8  beta_1_2
2  [0.2307936951039319, 0.956127143798717, 0.5078...    9  beta_1_2
3  [0.2100527750600495, 0.956030220788358, 0.0879...    5  beta_1_2
4  [0.15537391180551202, 0.6134062621475916, 0.26...    4  beta_1_2

# Moments approach

In [147]:
partial_moments = partial(dem.get_moments_partial, nr_moments=3)
moments_res = bounded_samples_flex['sample_set'].apply(partial_moments)
moments_df = pd.DataFrame(moments_res.tolist())
moments_df['label'] = bounded_samples_flex['label']
moments_df.head(3)

          0         1         2     label
0  0.292192  0.054103  0.013296  beta_1_2
1  0.233910  0.045855  0.010008  beta_1_2
2  0.552000  0.076208 -0.017202  beta_1_2

# KDE

In [149]:
x = np.linspace(0,1,10)
bounded_samples_flex = dm.get_samples_flex(bounded_dists, nr_sample_sets, sample_size, 2)
partial_kde = partial(dem.get_kde_partial, x=x)
kde_res = bounded_samples_flex['sample_set'].apply(partial_kde)
kde_df = pd.DataFrame(kde_res.tolist())
kde_df['label'] = bounded_samples_flex['label']
kde_df.head(3)

,0,1,2,3,4,5,6,7,8,9,label
0,1.251670,1.981449,1.992816,1.351869,0.829661,0.604284,0.346064,0.102015,0.013033,6.835877e-04,beta_1_2
1,0.592297,1.469110,2.188630,2.105471,1.722369,0.680823,0.095329,0.003749,0.000035,7.570134e-08,beta_1_2
2,1.118628,1.327175,1.191238,1.022795,1.032061,1.015572,0.757234,0.385897,0.129948,2.850864e-02,beta_1_2

## EDF

In [150]:
y = np.linspace(0,1,10)
bounded_samples_flex = dm.get_samples_flex(bounded_dists, nr_sample_sets, sample_size)
partial_edf = partial(get_edf_partial, y=y)
edf_res = bounded_samples_flex['sample_set'].apply(partial_edf)
edf_df = pd.DataFrame(edf_res.tolist())
edf_df['label'] = bounded_samples_flex['label']
edf_df.head()

,0,1,2,3,4,5,6,7,8,9,label
0,0.0,0.000000,0.000000,0.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,beta_1_2
1,0.0,0.000000,0.333333,0.333333,0.666667,0.666667,1.0,1.0,1.0,1.0,beta_1_2
2,0.0,0.000000,0.200000,0.400000,0.500000,0.800000,1.0,1.0,1.0,1.0,beta_1_2
3,0.0,0.142857,0.857143,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,beta_1_2
4,0.0,0.333333,0.333333,0.555556,0.666667,0.777778,1.0,1.0,1.0,1.0,beta_1_2

In [129]:
num_steps = 10
max_t = 1
t = np.linspace(max_t/num_steps, max_t, num_steps)

bounded_samples_flex = dm.get_samples_flex(bounded_dists, nr_sample_sets, sample_size)
partial_ecf = partial(get_ecf_partial, t=t)
ecf_res = bounded_samples_flex['sample_set'].apply(partial_ecf)
ecf_df = pd.DataFrame(ecf_res.tolist())
ecf_df['label'] = bounded_samples_flex['label']
ecf_df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,label
0,0.999303,0.997214,0.993744,0.988906,0.982722,0.975219,0.966429,0.956389,0.945144,0.932739,...,0.058324,0.087273,0.115967,0.144323,0.172261,0.199702,0.226569,0.252790,0.278294,beta_1_2
1,0.999497,0.997991,0.995485,0.991989,0.987513,0.982072,0.975682,0.968366,0.960146,0.951047,...,0.046709,0.069926,0.092979,0.115815,0.138379,0.160621,0.182489,0.203934,0.224908,beta_1_2
2,0.998096,0.992395,0.982928,0.969746,0.952920,0.932541,0.908720,0.881583,0.851279,0.817970,...,0.110031,0.164356,0.217856,0.270265,0.321321,0.370770,0.418366,0.463877,0.507078,beta_1_2
3,0.999335,0.997343,0.994032,0.989415,0.983508,0.976334,0.967922,0.958302,0.947511,0.935589,...,0.059320,0.088789,0.118031,0.146970,0.175535,0.203653,0.231257,0.258279,0.284656,beta_1_2
4,0.999708,0.998834,0.997377,0.995341,0.992727,0.989540,0.985784,0.981463,0.976583,0.971152,...,0.037412,0.056066,0.074659,0.093170,0.111579,0.129865,0.148010,0.165992,0.183794,beta_1_2