In [67]:
import numpy as np
import pandas as pd
import random
from functools import partial
from scipy.stats import moment

In [57]:
import distribution_modules as dm
import density_estimation_modules as dem
import classification_modules as cm
import exploration_modules as expo
import importlib

importlib.reload(dm)
importlib.reload(dem)
importlib.reload(cm)
importlib.reload(expo)

In [55]:
nr_sample_sets = 20
sample_size = 10

In [58]:
bounded_dists = dm.get_bounded_distribution()
bounded_samples_flex = dm.get_samples_flex(bounded_dists, nr_sample_sets, sample_size)

In [59]:
bounded_samples_flex

                                                 data  len     label
0   [0.6706614128555164, 0.19697710674983204, 0.17...    5  beta_1_2
1   [0.7120915808018828, 0.41794714398163385, 0.46...    8  beta_1_2
2   [0.24055282712605372, 0.37362096238992204, 0.3...    7  beta_1_2
3   [0.2861150888007423, 0.2905968518216268, 0.277...    8  beta_1_2
4   [0.05854033011692699, 0.8385507020467675, 0.09...    4  beta_1_2
..                                                ...  ...       ...
75  [0.24390847354919093, 0.33090134603568666, 0.4...   10  beta_1_5
76  [0.021110158965791246, 0.2852492477479389, 0.0...    6  beta_1_5
77  [0.19786732957884634, 0.2933498823199187, 0.10...   10  beta_1_5
78  [0.09635441231860857, 0.2627938755325696, 0.05...    3  beta_1_5
79                               [0.3351150082747697]    1  beta_1_5

[80 rows x 3 columns]

In [71]:
nr_moments = 3
def get_moments_(df,nr_moments):
    moments = list()
    m1 = np.mean(df)
    moments.append(m1)
    for i in range(2,nr_moments+1): #calculate from 2nd moment
        moments.append(moment(df, i))

    return moments

In [73]:
partial_moments = partial(get_moments_, nr_moments=3)

In [74]:
x = bounded_samples_flex['data'].apply(partial_moments)

In [75]:
new_df = pd.DataFrame(x.tolist())
new_df

           0         1         2
0   0.390783  0.037281  0.001809
1   0.345022  0.037387  0.002621
2   0.475431  0.060909  0.010831
3   0.382099  0.086724  0.019461
4   0.304366  0.098751  0.032069
..       ...       ...       ...
75  0.276993  0.011097  0.000031
76  0.132222  0.009193  0.000368
77  0.154452  0.010044  0.000053
78  0.139310  0.007859  0.000427
79  0.335115  0.000000  0.000000

[80 rows x 3 columns]

In [189]:
['m'+str(j) for j in range(1,i+1)]

['m1', 'm2', 'm3']