In [45]:
import numpy as np
import pandas as pd
import random
from functools import partial

In [156]:
import distribution_modules as dm
import density_estimation_modules as dem
import classification_modules as cm
import exploration_modules as expo
import importlib

importlib.reload(dm)
importlib.reload(dem)
importlib.reload(cm)
importlib.reload(expo)

In [257]:
# create the dataframe
max_length = 15
max_values = 10
df_rows = 20

df = pd.DataFrame()
incoming = list()
for i in range(df_rows):
    incoming.append([random.randint(1,max_values) for i in range(random.randint(1,max_length))])

outgoing = list()
for i in range(df_rows):
    outgoing.append([random.randint(1,max_values) for i in range(random.randint(1,max_length))])
    
df['id'] = list(range(0,df_rows))
df['incoming'] = incoming
df['outgoing'] = outgoing

In [258]:
df

,id,incoming,outgoing
0,0,"[6, 7, 6, 2]","[4, 6]"
1,1,"[10, 4]","[2, 10, 6, 2, 7, 5, 3, 2]"
2,2,"[2, 8, 8, 5, 1, 3]","[7, 2, 10, 8]"
3,3,"[3, 9, 4, 7, 3, 1, 2]","[8, 7, 4, 5, 6, 10, 2, 1, 4, 7, 4, 10]"
4,4,"[10, 1, 7, 3, 5, 10, 2, 2, 10, 10, 8, 4, 10, 10]","[8, 8, 1, 6, 1, 1, 2, 5]"
5,5,"[3, 7, 7, 7, 8, 4, 5, 9, 6, 7, 3, 4, 1, 6, 5]","[8, 10, 2, 5, 2, 1, 8, 8, 8, 6, 10, 1, 5, 6]"
6,6,"[6, 4, 9, 1, 9, 9, 8]","[6, 9]"
7,7,"[2, 1, 5, 7, 2, 8, 2, 9, 9]","[1, 6, 5, 1, 2]"
8,8,"[8, 5, 1]","[5, 9, 1, 8, 4, 9, 10, 4, 4, 10]"
9,9,"[3, 10, 8, 2]","[1, 4, 6, 5, 1]"
10,10,"[8, 1, 1, 10, 5, 10, 8, 9, 9, 9, 2, 3]","[2, 1]"
11,11,"[10, 8, 2, 3, 8, 2, 6, 8, 1]","[3, 10, 6, 8, 1, 4, 4, 7, 6, 4, 9, 7, 1]"
12,12,"[8, 10, 8, 5, 1, 1, 6, 10, 2, 8, 5, 2, 6, 9]","[1, 8, 4, 3, 7, 5]"
13,13,"[9, 4, 3, 8, 3]","[6, 1, 1, 3, 6, 2, 2, 6, 6, 6, 5]"
14,14,"[10, 7, 8, 3, 5, 5, 7, 8]","[5, 1, 8, 1]"
15,15,"[9, 9, 6, 3, 7, 9, 7, 5, 4, 4, 3, 1, 10]","[2, 3, 5]"
16,16,"[1, 10, 10]","[3, 4, 2, 2, 9, 6, 9, 1, 6, 6, 1]"
17,17,"[5, 3, 4, 7, 7, 9, 3, 10, 6, 5, 2, 2, 5, 8]","[4, 5, 4]"
18,18,"[10, 6, 3, 5, 1, 9]",[3]
19,19,"[4, 3, 10, 5, 7]","[10, 8, 8, 8, 6, 4, 3, 2, 1, 1, 10, 1, 1, 7]"

In [306]:
nr_moments = 3

def get_moments_(df,nr_moments):
    moments = list()
    m1 = np.mean(df)
    moments.append(m1)
    for i in range(2,nr_moments+1): #calculate from 2nd moment
        moments.append(stats.moment(df, i))

    return moments

In [307]:
partial_moments = partial(get_moments_, nr_moments=3)

In [308]:
x = df['incoming'].apply(partial_moments)

In [309]:
new_df = pd.DataFrame(x.tolist())
new_df

           0          1          2
0   5.250000   3.687500  -7.031250
1   7.000000   9.000000   0.000000
2   4.500000   7.583333   4.000000
3   4.142857   6.979592  13.434402
4   6.571429  11.959184 -13.259475
5   5.466667   4.382222  -3.370074
6   6.571429   8.244898 -20.606414
7   5.000000   9.777778   2.000000
8   4.666667   8.222222  -4.074074
9   5.750000  11.187500   3.656250
10  6.250000  11.854167 -18.656250
11  5.333333  10.000000  -1.037037
12  5.785714   9.739796  -8.086006
13  5.400000   6.640000   6.768000
14  6.625000   4.234375  -1.558594
15  5.923077   7.455621  -2.048248
16  7.000000  18.000000 -54.000000
17  5.428571   5.959184   3.830904
18  5.666667   9.888889  -0.407407
19  5.800000   6.160000   9.504000

In [189]:
['m'+str(j) for j in range(1,i+1)]

['m1', 'm2', 'm3']