In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('gs://ggf-eth-data/unprocessed_ethereum_2018_2020')
df.head(3)

,from_address,to_address,value,gas_value,count
0,0x12df6b56e365f42bb38a885895819a8bcdb8bff8,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,408.608386,1.036399,51
1,0xea2acf1b8a181e8a0f1aa40384d1ddaf096232aa,0x025a9bc3ea7fc8a49704451f61b5ee1eaf488850,2.658300,0.045066,50
2,0x455f011790046a920b5b505cd9188d3c2077d4e4,0x7b7d4a8ee76755d453042dfc05787e464f765638,45.203273,0.052132,59

In [3]:
df['avg'] = df['value']/df['count']
df.head()

,from_address,to_address,value,gas_value,count,avg
0,0x12df6b56e365f42bb38a885895819a8bcdb8bff8,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,408.608386,1.036399,51,8.011929
1,0xea2acf1b8a181e8a0f1aa40384d1ddaf096232aa,0x025a9bc3ea7fc8a49704451f61b5ee1eaf488850,2.658300,0.045066,50,0.053166
2,0x455f011790046a920b5b505cd9188d3c2077d4e4,0x7b7d4a8ee76755d453042dfc05787e464f765638,45.203273,0.052132,59,0.766157
3,0xd06cd3d829e67ad3455d5035b071813625b0de6b,0x0424b365094898eaa2d64d13f26cd9aaf220cf6c,0.018225,0.123154,74,0.000246
4,0x69b71b9459e6ebde14a1b337a3720487aec111d4,0x1f39cc033edcac7e2a4f356aec55bee7f1cfdb34,0.859125,0.025099,174,0.004938

In [6]:
df['from_address'].value_counts()

0xea674fdde714fd979de3edf0f56aa9716b898ec8    210132
0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5     88441
0x829bd824b016326a401d083b33d092293333a830     42482
0x5a0b54d5dc17e0aadc383d2db43b0a0d3e029c4c     35807
0x4c549990a7ef3fea8784406c1eecc98bf4211fa5     16604
                                               ...
0x5c03e73066f0ff2e19882425fed9284203390f85         1
0x459dfda4a11e2b6600fbfdc612ab7297db063d3b         1
0xbeb72266d7d9d630cda9b3f7c37c59df50d32c57         1
0x193e0dda3512c647304d7087bd15ab0954d6adec         1
0x86111d7a906eb6b489a59974da671013c64295f5         1
Name: from_address, Length: 898376, dtype: int64